@import "bootstrap-sprockets";
@import "bootstrap";

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#acc, #signed_in {
  margin-left: 20px;
}

#acc {
  display: inline-block;
  padding-right: 20px;
  font-style: oblique;
  background-color: $gray-lighter;
  border-radius: 20px;
}
